ol, ul {
	margin: 0px;
}


/* block status start */
.container-status {
	padding-top: 5px;
	margin-right: 100px;
}
.status {
	font-weight: bolder;
}
.status-color {
	color: darkblue;
}
/* block status end */


/* block btn start */
.container-btn {
	list-style: none;
}
.hidden-btn, .hidden-form, .hidden-game, .indice {
	display: none;
}
.btn-start-game, .btn-start-form {
	border: 1px solid #666;
	background-color: #04AA6D;
	color: #fff;
}
.btn-start-game:hover, .btn-start-form:hover {
	background-color: #035e3c;
	cursor: pointer;
}
.btn-start-game, .btn-start-form, .btn-start-game-disabled {
	font-size: 18px;
    padding: 4px 10px;
    border-radius: 5px;
}
.btn-start-game-disabled {
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
}
/* block btn end */

.btn-stop-game {
	margin-left: 20px;
}

/* block game start */
.container-game {
	margin-top: 60px;
}
.game-info, .game {
	display: flex;
}
.game-info {
	margin-left: 44% !important;
	margin-bottom: 20px;
}
.game {
	margin-left: 44% !important;
}
.game-title {
	text-align: center;
	margin-bottom: 70px;
}
/* block game end */
