.square {
	background: #fff;
	border: 2px solid #999;
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
	height: 60px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 60px;
	cursor: pointer;
}

.square:focus {
	outline: none;
	background: #ddd;
}

.color-square {
	color: red;
}
