.form {
	margin: 10px 43%;
}

.field-player1, .field-player2 {
	color: #494949;
	height: 30px;
	border-radius: 5px;
	border: 1px solid #999999;
	margin-bottom: 1em;
}

.container-error {
	color: red;
	margin-bottom: 1.5em;
}